.stat-bar {
  margin-bottom: 10px;
}

.stat-name {
  font-weight: bold;
}

.stat-progress {
  background-color: #ccc;
  height: 20px;
  width: 100%;
  position: relative;
  border-radius: 5px;
}

.status {
  margin: auto;
}

.progress {
  height: 100%;
  transition: width 0.3s ease;
  border-radius: 5px;
}

.progress.low {
  background-color: #ff5252;
}

.progress.medium {
  background-color: #ff9800;
}

.progress.high {
  background-color: #8bc34a;
}
