<div class="card col-3 position-absolute top-50 start-50 translate-middle bg-info">
  <div class="card-body bg-light shadow-lg rounded">
    <div class="text-danger text-end fs-3">
      Nº {{poke.id}}
    </div>
    <div *ngFor="let name of pokeName()" class="card-title display-6 mt-2 mb-6 text-danger">
      {{name | titlecase}}
    </div>


    <div class="mt-3">
      <img [src]="poke.sprites.other.home.front_default" width="400px" class="img-fluid">
      <div class="mt-3">
        <span>Altura:</span>
        {{poke.height}} M
      </div>
      <div>
        <span>Peso:</span>
        {{poke.weight}} Kg
      </div>
      <div class="mb-2">
        Experiência Base:
        <span>
          {{poke.base_experience}}
        </span>
      </div>

      <div (click)="antPoke()" class="col-4 btn btn-danger mt-2" style="margin-left: 15px;">
        Anterior
      </div>
      <div (click)="proxPoke()" class="col-4 btn btn-primary mt-2" style="margin-left: 15px;">
        Próximo
      </div>
    </div>
  </div>
</div>
